_partial_: True
_target_: method.Composer
criterion: MahalanobisDistanceLoss
lr: 0.01
reset_rbf_mask: False
plugins:
  - _target_: method.Dreaming
    alpha: 0.4
    no_samples_per_class: 16
    steps: 10000
    dreaming_lr: 0.1
    lambda_l2: 0.01
    lambda_tv: 0.001
    in_shape: (1,32,32)
    diversity_weight: 0.05
